.place_margin_value {
  margin: 0 auto;
  margin-bottom: 80px;
}

.place_margin_value:last-of-type {
  margin-bottom: 92px;
}

@media (max-width: 1024px) {
  .place_margin_value {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (max-width: 890px) {
  .place_margin_value {
    margin-left: 36px;
    margin-right: 36px;
  }
}

@media (max-width: 768px) {
  .place_margin_value {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 73px;
  }

  @media (max-width: 725px) {
    .place_margin_value {
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .place_margin_value:last-of-type {
    margin-bottom: 90px;
  }
}

@media (max-width: 320px) {
  .place_margin_value {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
  }

  .place_margin_value:last-of-type {
    margin-bottom: 66px;
  }
}
