.header_margin_value {
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 56px;
}

@media (max-width: 1024px) {
  .header_margin_value {
    margin-bottom: 48px;
  }
}

@media (max-width: 320px) {
  .header_margin_value {
    margin-top: 16px;
  }
}
