.place__paragraph {
  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  margin-bottom: 26px;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

@media (max-width: 320px) {
  .place__paragraph {
    padding: 0 16px;
  }
}
