.lead_box_position {
  margin: 0 auto;
  margin-bottom: 92px;
}

@media (max-width: 768px) {
  .lead_box_position {
    margin-bottom: 88px;
  }
}

@media (max-width: 320px) {
  .lead_box_position {
    margin-bottom: 64px;
  }
}
