.footer_box_position {
  margin: 0 auto;
  margin-bottom: 24px;
}

@media (max-width: 670px) {
  .footer_box_position {
    margin-left: 20px;
  }
}

@media (max-width: 340px) {
  .footer_box_position {
    margin-left: 16px;
  }
}
